<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="machineConfiguration" type="TeamDeploy.Config.MachineConfiguration, TeamDeploy"/>
  </configSections>
  <machineConfiguration>
    <machines>
      <machine computername="servername" username="username" password="password"/>
    </machines>
  </machineConfiguration>
  <appSettings>
    <add key="msdeployExecutable" value="C:\Program Files\IIS\Microsoft Web Deploy V2\msdeploy.exe"/>
    <add key="encryptPassword" value="hG7gSds"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
